@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Regular.ttf);
  font-weight: 500;
}

@font-face {
	font-family: Messina;
	src: url(../fonts/MessinaSans-Bold.ttf);
	font-weight: 700;
  }

@font-face {
  font-family: Dubbo;
  src: url(../fonts/DubboRegular.ttf);
}

body { 
	font-family: 'Messina', sans-serif;
	color: #666;
	height: 100%;
	padding-top: 20px;
  }

/* HEADINGS AND TYPEFACES */

h1 {
	font-family: Messina;
	color: #D395FA;
}

h1 a {
	color: #D395FA;
}


p a {
	color:#D395FA
}

p a:hover {
	font-weight: 700;
}

.big-links {
	font-family: Messina;
	font-weight: 500;
	padding-top: 20px;
}

.big-links a{
	color: #666;
}

.big-links a:hover{
	font-weight: 700;
}

a {
	text-decoration: none;
}
.big-links a:hover{
	font-weight: 700;
}

strong {
	font-weight: 700;
	color: #D395FA;

}

* { box-sizing: border-box; }

/* STRUCTURE, CONTAINERS */

.wrapper {
	max-width: 960px;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}


/* NAVIGATION AND FOOTER */

nav {
	display: inline-block;
	margin: 0;
	font-weight: 700;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin-right: 30px;
}

.nav-li a {
	color: #666;
}

.nav-li a:hover {
	color: #D395FA;
}

footer {
	margin-top: 100px;
	padding-bottom: 40px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	float: left;
	margin-right: 20px;
}

footer a {
	color: #666;
}

footer a:hover {
	font-weight: 700;
}
