@font-face {
  font-family: Messina;
  src: url(../fonts/MessinaSans-Regular.ttf);
  font-weight: 500;
}

@font-face {
	font-family: Messina;
	src: url(../fonts/MessinaSans-Bold.ttf);
	font-weight: 700;
  }

@font-face {
  font-family: Dubbo;
  src: url(../fonts/DubboRegular.ttf);
}

body { 
	font-family: 'Messina', sans-serif;
	color: #666;
  }

/* HEADINGS AND TYPEFACES */

h1 {
	font-family: Dubbo;
	color: #D395FA;
}

h1 a {
	color: #D395FA;
}

p {
	font-size: 1.1em;
	line-height: 1.4em;
	color: #666;
}

p a {
	color:#D395FA
}

p a:hover {
	font-weight: 700;
}

.big-links {
	font-family: Messina;
	font-weight: 500;
	padding-top: 20px;
}

.big-links a{
	color: #666;
}

.big-links a:hover{
	font-weight: 700;
}

a {
	text-decoration: none;
}
.big-links a:hover{
	font-weight: 700;
}

strong {
	font-weight: 700;
	color: #D395FA;

}

* { box-sizing: border-box; }


.columns {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 5px 0;
}

.column {
	flex: 1;
	border: 1px solid; 	
	color: #666;
	margin: 2px;
	padding: 10px;
	&:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; }
	
}

footer {
	padding: 0 15px;
}

nav {
	margin: 0;
	font-weight: 700;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	float: left;
	margin-right: 20px;
}

ul li a {
	color: #666;
	font-size: 1em;
}

ul li a:hover {
	color: #D395FA;
}

footer {
	margin-top: 100px;
}

footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

footer ul li {
	float: left;
	margin-right: 20px;
}



@media screen and (min-width: 900px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}

	.wrapper {
		max-width: 960px;
		width: 100%;
		margin: auto;
	}

	h1 {
		font-family: Dubbo;
		font-size: 2em;
		color: #D395FA;
	}
	
	h1 a {
		color: #D395FA;
	}
	
	p {
		font-size: 1.1em;
		line-height: 1.4em;
		color: #666;
	}
	
	p a {
		color:#D395FA
	}
	
	p a:hover {
		font-weight: 700;
	}
	
	.big-links {
		font-family: Messina;
		font-weight: 500;
		font-size: 1.75em;
		padding-top: 20px;
	}
	
	.big-links a{
		color: #666;
	}
	
	.big-links a:hover{
		font-weight: 700;
	}
	
	a {
		text-decoration: none;
	}
	.big-links a:hover{
		font-weight: 700;
	}
	strong {
		font-weight: 700;
		color: #D395FA;
	
	}

	/* STRUCTURE */

.subhead {
	width: 80%;
	padding-top: 20px;
}

	
}

@media screen and (min-width: 600px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}


	h1 {
		font-family: Dubbo;
		font-size: 2.5em;
		color: #D395FA;
	}
	
	h1 a {
		color: #D395FA;
	}
	
	p {
		font-size: 1.1em;
		line-height: 1.4em;
		color: #666;
	}
	
	p a {
		color:#D395FA
	}
	
	p a:hover {
		font-weight: 700;
	}

	
	.big-links {
		font-family: Messina;
		font-weight: 500;
		font-size: 1.75em;
		padding-top: 20px;
	}
	
	.big-links a{
		color: #666;
	}
	
	.big-links a:hover{
		font-weight: 700;
	}
	
	a {
		text-decoration: none;
	}
	.big-links a:hover{
		font-weight: 700;
	}
	strong {
		font-weight: 700;
		color: #D395FA;
	
	}
	
}

@media screen and (min-width: 300px) {
	.wrapper {
		width: 90%;
		margin: auto;
		padding-top: 20px;
	}

.subhead {
	width: 80%;
	padding-top: 20px;

}

	h1 {
		font-family: Dubbo;
		font-size: 2em;
		color: #D395FA;
	}

	h1 a{
		font-family: Dubbo;
		color: #D395FA;
	}

	p {
		font-size: 1em;
		line-height: 1.4em;
	}

	.big-links {
		font-size: 1.4em;
	}

	nav ul li a {
		font-size: 1.2em;
	}

	footer ul li a {
		font-size: 1.2em;
	}
	
	strong {
		font-weight: 700;
		color: #D395FA;
	
	}
	
}
